body {
  font-family: 'Josefin Sans', 'Raleway', 'Varela Round', Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
  background: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Optionally, set a default font for all MUI Typography */
.MuiTypography-root {
  font-family: 'Josefin Sans', 'Raleway', 'Varela Round', Arial, sans-serif;
  font-weight: 100;
}
